:root {
  --white: #fff;
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --items: 3;
  --indent-column: 24px;
  --indent-row: 48px;

  --icon-color: #8e8f99;
  --icon-hover-color: #404bbf;
  --light-green-icon: #31d0aa;
}

.page {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Reset */

.link {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.section {
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid red; */
  /* outline-offset: -2px; */
}

/* Flexbox grid */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-row) var(--indent-column);
}

card-set-item {
  width: calc((100% - 48px) / 3);
}
/* HEADER */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--iris);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  margin-right: 76px;
}

.logo-other {
  color: var(--navyblue);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-item:hover,
.header-item:focus {
  color: var(--ocean);
}

.active {
  color: var(--icon-hover-color);
}

.header-item.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: block;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--ocean);
}

/* MAIN */
.main {
}

.section {
}

.order {
  background-color: var(--navyblue);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  max-width: 1440px;

  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/order/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.order-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.order-btn {
  background: var(--iris);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;

  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--ocean);
}

/* benefits section */
.benefits {
  padding: 120px 0;
}

.benefits-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navyblue);
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 24px;
}

.benefits-item {
  width: 264px;
  flex-basis: calc((100% - 72px) / 4);
}

.benefats-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  width: 264px;
  height: 112px;

  background-color: var(--cloud);
  border-radius: 4px;
}

.benefits-icon {
}

.benefits-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-size: 16px;
}

.benefits-title-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* working section */
.working {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  padding-bottom: 120px;
}

.title-working {
  font-size: 36px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.working-list {
  display: flex;
  gap: 24px;
}

.working-item {
  flex-basis: calc((100% - 48) / 3);
}

.working-img {
  border: 1px solid var(--cornflower);
}

.site {
}

.mess {
}

.tel {
}

/* team section */

.team {
  padding: 120px 0;
  background-color: var(--cloud);
}

.title-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
}

.network-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.network-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-link:hover,
.network-link:focus {
  background-color: var(--ocean);
}

.network-icon {
  fill: var(--cloud);
}

.employee {
  padding: 32px 0;
}

.p-designer {
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue);
  text-align: center;
}

.position {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 8px auto;
}

.developer {
}

.marketing {
}

.ui-designer {
}

/* customers section */
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  height: 88px;
  color: var(--icon-color);

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon {
  color: var(--icon-hover-color);
}

.customers-link:focus .customers-icon {
  color: var(--icon-hover-color);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--icon-hover-color);
  color: var(--ocean);
}

.customers-icon {
  fill: currentColor;
}

/* footer */

.footer {
  background-color: var(--navyblue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}

.logo-white {
  color: var(--cloud);
}

.exhortation {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

.footer-container-social {
}

.footer-network-text {
  letter-spacing: 0.32px;
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.network-link-footer:hover,
.network-link-footer:focus {
  background-color: var(--light-green-icon);
}

.network-icon {
  fill: var(--cloud);
}

.footer-logo-container {
  margin-right: 120px;
}

.network-list-footer {
  gap: 16px;
}

/* footer-form */
.footer-right {
  margin-left: 80px;
}

.footer-text-subscribe {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-field {
  position: relative;
  display: block;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  font-size: 12px;
  color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  border-color: var(--iris);
}

.footer-form-input::placeholder {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}

.footer-form-input:focus::placeholder {
  opacity: 0;
}

.foter-form-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;

  border-radius: 4px;
  background: var(--iris);
  border: none;

  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter-form-btn:hover,
.foter-form-btn:focus {
  background-color: var(--ocean);
}

.subscribe-form-icon {
  margin-left: 16px;
}

/* PORTFOLIO */
.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-link:hover.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
  transform: translateY(0%);
}

.scope-project {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.card-border {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.btns-portfolio {
  padding-top: 96px;
  padding-bottom: 72px;
  justify-content: center;
}

.project-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-btn {
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  display: block;
  margin: 0 auto;
  justify-content: center;
  padding: 12px 24px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  border: 1px solid var(--cloud);
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border: initial;
}

/* overlay */
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;

  color: var(--cloud);
  position: absolute;
  top: 0;

  padding: 40px 32px;

  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: var(--iris);
  padding: 40px 32px 164px 32px;
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.projects-container {
  padding-bottom: 120px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-kind {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

/* modal window styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 72px 24px 24px 24px;

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--icon-hover-color);
  border: none;
  fill: var(--white);
}

.modal-container {
  margin-bottom: 8px;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  width: 360px;
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.modal-form {
}

.modal-form-field {
  display: block;

  position: relative;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;

  font-size: 18px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--iris);
}

.modal-form-label {
  display: block;
  position: relative;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 45%;
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 11px 38px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  border-color: var(--iris);
}

.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.form-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* agreement block */

.modal_container_agreement {
  margin-bottom: 24px;
}

.modal-form-agreement {
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
}

.modal-form-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-icon {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-container {
  margin-bottom: 16px;
}

.modal-row {
  position: relative;
}

.modal-form-icon {
  top: 50%;
  transform: translateY(-50%);
}

.modal-form-checkbox:checked
  + .modal-form-agreement
  > .modal-form-custom-checkbox {
  background-color: var(--icon-hover-color);
  border: none;
  fill: var(--cloud);
}

.modal-form-checkbox:checked
  + .modal-form-custom-checkbox
  > .modal-form-checkbox-icon {
  opacity: 0;
  transform: scale(1);
}

.modal-form-agreement-desc {
  user-select: none;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.modal-form-link {
  color: var(--iris);
  text-decoration: underline;
}
